html
{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	text-align: center;
}
textarea, iframe
{
	resize: none;
	width: 400px;
	height: 200px;
	margin-bottom: 30px;
}
input
{
	margin-bottom: 20px;
}
button
{
	width: 70px;
	display: block;
	margin: auto;
	margin-bottom: 20px;
}
textarea, button, iframe, input
{
	border-color: blue;
	border-radius: 4px;
}
button:active
{
	transform: translateY(2px);
}
